{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}epoptis-Token{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Setup Sensors</h1>
</div>
<div class="col-md-4">
        <h1>Fill Out Sensor Details</h1>

    {{ wtf.quick_form(form) }}

</div>

<div class="col-md-4">
    <h1>Registered Sensors</h1>

    <ul>
        {% for ds in datasources %}

  <li>{{ds}}</li>
    {% endfor %}

        {{ wtf.quick_form(form1) }}

</ul>


</div>
<div class="col-md-4">
    <h1>Detected ds18b20 (Temperature) Sensors</h1>

    <ul>
        {% for ds in detected_ds18b20s %}

  <li>{{ds}}</li>
    {% endfor %}

</ul>


</div>


{% endblock %}